{% extends "blog/base.html" %}
{% block content %}
<h1>RESET PASSWORD</h1>
<form method="POST" action="{% url 'passwordreset' %}">
    {% csrf_token %}
    {% if error %}
    {{ error }}
    <br />
    <br />
    {% endif %}
    <br>
    <label>Password</label>
    <input type="password" name="password1" placeholder="Password" required>
    <br>
    <label>Confirm Password</label>
    <input type="password" name="password2" placeholder="Confirm password" required>
    <br>
    <button type="submit">Reset Password</button>
  </form>

{% endblock %}
